name: 'Npm Package'

on:
  push:
    branches-ignore:
      - '**'
    tags:
      - 'v*'
    paths:
      - 'src/**.js'
      - 'src/**.jsx'
      - 'src/**.ts'
      - 'src/**.tsx'
      - 'src/**.json'

jobs:
  build:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - name: setup Node for Github Actions
        uses: actions/setup-node@v1
        with:
          node-version: '12.x'
          registry-url: 'https://registry.npmjs.org'
      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"
      - uses: actions/cache@v2
        id: yarn-cache
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            yarn-
      - run: yarn
      - run: yarn build
      - uses: actions/cache@v2
        id: browser-stack-local-cache
        with:
          path: bin
          key: v1-browser-stack-local-cache
      - if: steps.browser-stack-local-cache.outputs.cache-hit != 'true'
        run: |
          curl -sSfO https://www.browserstack.com/browserstack-local/BrowserStackLocal-linux-x64.zip
          (cd bin && unzip ../BrowserStackLocal-linux-x64.zip)
      - name: BrowserStack Action
        uses: 'browserstack/github-actions@master'
        with:
          username: ${{ secrets.BROWSERSTACK_USERNAME }}
          access-key: ${{ secrets.BROWSERSTACK_ACCESS_KEY }}
      - run: yarn ci:test
      - run: yarn publish --tag "$(node -p 'require(`./package.json`).version')"
