name: Test

on:
  push:

jobs:
  build:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - name: setup Node
        uses: actions/setup-node@v1
        with:
          node-version: 12.x
      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"
      - uses: actions/cache@v2
        id: yarn-cache
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            yarn-
      - run: yarn
      - run: yarn build
      - uses: actions/cache@v2
        id: brower-stack-local-cache
        with:
          path: bin
          key: v1-brower-stack-local-cache
      - if: steps.browser-stack-local-cache.outputs.cache-hit != 'true'
        run: |
          curl -O https://www.browserstack.com/browserstack-local/BrowserStackLocal-linux-x64.zip
          mkdir bin
          (cd bin && unzip BrowserStackLocal-linux-x64.zip)
      - id: browser-stack-local
        run: |
          ./bin/BrowserStackLocal --key "${{ secrets.BROWSERSTACK_ACCESS_KEY }}" &
          echo "::set-output name=pid::${!}"
      - run: yarn ci:test
        env:
          BROWSERSTACK_USER: ${{ secrets.BROWSERSTACK_USERNAME }}
          BROWSERSTACK_KEY: ${{ secrets.BROWSERSTACK_ACCESS_KEY }}
          PORT: 58679
      - run: kill -9 ${{ steps.browser-stack-local.outputs.pid }}
